<UserScriptConfig>
	<Script basedir="Hide_Reddit_sidebar" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Hides the sidebar on reddit.com" enabled="true" filename="Hide_Reddit_sidebar.user.js" installTime="1424858350455" modified="1462175276465" name="reddit.com: Hide sidebar" namespace="com.rleppink.hideredditsidebar" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="4991e273-d58b-4043-84f1-96c6caad890e" version="1.0" installurl="file:///C:/Users/ronaldl/AppData/Roaming/Mozilla/Firefox/Profiles/m09l008k.default-1420716667619/gm_scripts/Hide_Reddit_sidebar/Hide_Reddit_sidebar.user.js" updateurl="file:///C:/Users/ronaldl/AppData/Roaming/Mozilla/Firefox/Profiles/m09l008k.default-1420716667619/gm_scripts/Hide_Reddit_sidebar/Hide_Reddit_sidebar.user.js">
		<Grant>none</Grant>
		<Include>reddit.com</Include>
		<UserInclude>*reddit.com*</UserInclude>
	</Script>
	<Script basedir="Geocaching_improvements" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Geocaching_improvements.user.js" installTime="1456241343995" modified="1458040363686" name="geocaching.com: Geocaching improvements" namespace="com.rleppink.geocachingimprovements" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="de1fabbf-3890-423e-a4ad-5c96f1557185" version="1" installurl="file:///C:/Users/ronaldl/AppData/Roaming/Mozilla/Firefox/Profiles/m09l008k.default-1420716667619/gm_scripts/Geocaching_improvements/Geocaching_improvements.user.js" updateurl="file:///C:/Users/ronaldl/AppData/Roaming/Mozilla/Firefox/Profiles/m09l008k.default-1420716667619/gm_scripts/Geocaching_improvements/Geocaching_improvements.user.js">
		<Grant>none</Grant>
		<Include>*</Include>
		<UserInclude>*geocaching.com*</UserInclude>
	</Script>
	<Script basedir="hn-newcommentline-1" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="hn-newcommentline.user.js" installTime="1456395330279" modified="1458040363694" name="hackernews: highlight new comments" namespace="nl.rleppink.hn-newcommentline" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="bdea2cf1-934e-4e7e-b712-cf2e1f723263" version="1" installurl="file:///C:/Users/ronaldl/AppData/Roaming/Mozilla/Firefox/Profiles/m09l008k.default-1420716667619/gm_scripts/hn-newcommentline-1/hn-newcommentline.user.js" updateurl="file:///C:/Users/ronaldl/AppData/Roaming/Mozilla/Firefox/Profiles/m09l008k.default-1420716667619/gm_scripts/hn-newcommentline-1/hn-newcommentline.user.js">
		<Grant>none</Grant>
		<Include>news.ycombinator.com</Include>
		<UserInclude>*news.ycombinator.com*</UserInclude>
	</Script>
</UserScriptConfig>
