@-moz-document domain("news.ycombinator.com") {
.athing .title {
    padding-left: 0.6rem;
}

.subtext:first-child {
    padding-left: 0.6rem;
}

#hnmain {
    width: 50em;
}

.comment {
    line-height: 1.5;
}
}
