@-moz-document domain("www.reddit.com") {
.content {
    margin: 0 auto !important;
    padding-top: 1.3em;
    padding-bottom: 70em;
    width: 80em;
}

.debug-info, .footer-parent, .listing-chooser, #sr-header-area, .trending-subreddits {
    display: none;
}

#header-img {
    zoom: 0.46
}

.link.last-clicked {
    border: 0 !important;
}

}
